-const server="https://inventario-objetos.herokuapp.com"
-let months=["Enero","Febrero","Marzo","Abril","Mayo","Junio","Julio","Agosto","Septiembre","Octubre","Noviembre","Diciembre"]
-const dateToString=(date)=>{
-   return date.getDate()+"/"+months[date.getMonth()]+"/"+date.getFullYear()+" - "+date.getHours()+":"+date.getMinutes();
-}
