mixin footer()
    div.bg-dark.p-5.shadow-lg.text-center
        a(href="https://github.com/EdgarPozas/inventario-objetos/").text-info Repositorio en GitHub
        br
        a(href="https://edgarpozas.github.io/MyPage/index.html").text-light Desarrollado por Edgar Pozas
