mixin header(title)
    title Inventario objetos | #{title}
    link(rel="icon" href=server+"/images/ic_logo.png")
    link(href=server+"/css/bootstrap.min.css" rel="stylesheet")
    link(href=server+"/css/styles.css" rel="stylesheet")
