mixin modal-register()
	div(tabindex="-1" aria-hidden="true").modal.fade#registerModal
		.modal-dialog.modal-dialog-scrollable
			form(action=server+"/user/register" method="post" @submit="sendForm($event)").modal-content
				.modal-header
					h5.modal-title Registrar
					button(type="button" data-bs-dismiss="modal" aria-label="Close").btn-close
				.modal-body
					label Nombre
					input(type="text" required name="firstName" placeholder="Edgar").form-control
					label.mt-3 Apellido
					input(type="text" required name="lastName" placeholder="Pozas").form-control
					label.mt-3 Correo
					input(type="email" required name="email" placeholder="ejemplo@correo.com").form-control
					label.mt-3 Contraseña
					input(type="password" required name="password" placeholder="*********" v-model="password").form-control
					label.mt-3 Confirmar contraseña
					input(type="password" required placeholder="*********" v-model="confirmPassword").form-control
					div(v-if="password!=confirmPassword").alert.alert-warning.mt-3 Revisa las contraseñas
				.modal-footer
					input(type="submit" value="Registrarse").btn.btn-outline-primary
