mixin nav-bar()
    nav.navbar.navbar-expand-lg.navbar-light.bg-light.me-navbar.shadow-sm
        .container-fluid
            a(href=server+"/").navbar-brand  Inventario-Objetos
            button(type="button" data-bs-toggle="collapse" data-bs-target="#navbar").navbar-toggler
                span.navbar-toggler-icon
            div#navbar.collapse.navbar-collapse
                if user
                    ul.navbar-nav.w-100
                        li.nav-item
                            a(href=server+"/user/profile").nav-link Mi perfil
                        li.nav-item
                            a(href=server+"/group").nav-link Mis grupos
                    .d-flex.w-100.justify-content-end
                        div(data-bs-toggle="modal" data-bs-target="#closeSessionModal").btn.btn-outline-danger.m-2 Cerrar sesión
                else
                    .d-flex.w-100.justify-content-end
                        div(data-bs-toggle="modal" data-bs-target="#loginModal").btn.btn-outline-primary.m-2 Ingresar
                        div(data-bs-toggle="modal" data-bs-target="#registerModal").btn.btn-outline-secondary.m-2 Registrarse
    
