include ./shared/constants
include ./shared/header
include ./shared/nav-bar
include ./shared/scripts
include ./shared/modal
include ./shared/modal-login
include ./shared/modal-register
include ./shared/modal-recovery
doctype html
html
    head
        +header("Error")
    body
        +nav-bar()
        div(role="alert").alert.alert-danger #{error}
        +modal-login()
        +modal-register()
        +modal-recovery()
        +modal("Atención","Revisa los campos","modal-check-data",[{type:"close-secondary",title:"Cerrar"}])
        +scripts()
        script(src=server+"/js/components/user-register-component.js")
