include ./shared/constants
include ./shared/header
include ./shared/nav-bar
include ./shared/scripts
include ./shared/modal
include ./shared/modal-login
include ./shared/modal-register
doctype html
html
    head
        +header("Valida tu cuenta")
    body
        +nav-bar()
        if error==400
            div(role="alert").alert.alert-danger Error al ingresar sesión, revisa los datos
        else if error==401
            div(role="alert").alert.alert-danger Error al registrar el usuario, revisa los datos
        +modal-login()
        +modal-register()
        +modal("Atención","Revisa los campos","modal-check-data",[{type:"close-secondary",title:"Cerrar"}])
        +scripts()
        script(src=server+"/js/components/user-register-component.js")
