include ./shared/constants
include ./shared/header
include ./shared/nav-bar
include ./shared/scripts
include ./shared/modal
include ./shared/modal-login
include ./shared/modal-register
doctype html
html
    head
        +header("Verifica tu correo")
    body
        +nav-bar()
        div
            h1 Verifica tu correo
            p Revisa tu correo y da click en el enlace para validar tu cuenta
        +modal-login()
        +modal-register()
        +modal("Atención","Revisa los campos","modal-check-data",[{type:"close-secondary",title:"Cerrar"}])
        +scripts()
        script(src=server+"/js/components/user-register-component.js")
