include ./shared/constants
include ./shared/header
include ./shared/nav-bar
include ./shared/scripts
include ./shared/modal
include ./shared/modal-login
include ./shared/modal-register
include ./shared/modal-recovery
include ./shared/footer

doctype html
html
    head
        +header("Recuperar contraseña")
    body
        +nav-bar()
        div.w-100.p-5.text-center
            div.bg-light.p-5.shadow-sm.b-radius.d-inline-block
                h1 Cambiar contraseña
                div#recoveryForm.text-start
                    form(action=server+"/user/change-password/"+userRecovery._id+"?_method=PUT" method="post" @submit="sendFormChange($event)")
                        label.mt-3 Correo
                        input(type="email" required name="email" placeholder="ejemplo@correo.com").form-control
                        label.mt-3 Contraseña
                        input(type="password" required name="password" placeholder="*********" v-model="changePassword").form-control
                        label.mt-3 Confirmar contraseña
                        input(type="password" required placeholder="*********" v-model="changeConfirmPassword").form-control
                        div.text-center
                            div(v-if="changePassword!=changeConfirmPassword").alert.alert-warning.mt-3 Revisa las contraseñas
                            input(type="submit" value="Cambiar contraseña").btn.btn-outline-primary.mt-3
                
        +footer()
        +modal-login()
        +modal-register()
        +modal-recovery()
        +modal("Atención","Revisa los campos","modal-check-data",[{type:"close-secondary",title:"Cerrar"}])
        +scripts()
        script(src=server+"/js/components/user-register-component.js")
        script(src=server+"/js/components/user-recovery-component.js")
