include ./shared/constants
include ./shared/header
include ./shared/nav-bar
include ./shared/scripts
include ./shared/modal
include ./shared/footer
doctype html
html
    head
        +header("Espacios")
    body
        +nav-bar(2)
        div.me-margin-main#room-component
            div.card.me-container-filter.shadow
                .card-header
                    h5.card-title.fw-bold.m-0 Buscar espacios por
                .card-body.row
                    .col-6
                        label.form-label.fw-bold Nombre
                        input(type="text" placeholder="Ej. Sala" v-model="name" @keyup="filter").form-control
                    .col-6
                        label.form-label.fw-bold Descripción
                        input(type="text" placeholder="Ej. En este lugar ..." v-model="description" @keyup="filter").form-control
                    .col-12.mt-3
                        .form-check
                            input(type="checkbox" v-model="active" @change="filter" ).form-check-input#inputActive
                            label(for="inputActive").form-check-label.fw-bold Activo
                .card-footer.text-end
                    input(type="submit" @click="tableMode=!tableMode" :value="tableMode?'Modo tarjeta':'Modo tabla'").btn.btn-outline-primary.me-3
                    button(@click="clearFilters").btn.btn-outline-primary Limpiar filtros
            div.mt-3.d-flex.me-container-items.justify-content-center
            div(v-if="filterSelected==0").d-flex.me-container-items.justify-content-center
                div(v-if="tableMode").card.m-2.shadow.me-card-hover.w-100.p-3
                    table.table 
                        thead 
                            tr 
                                td.fw-bold #
                                td.fw-bold Nombre 
                                td.fw-bold Descripción
                                td.fw-bold Activo
                                td.fw-bold Consultar
                        tbody
                            tr(v-for="room,i in rooms")
                                td {{i+1}}
                                td {{room.name}}
                                td {{room.description}}
                                td {{room.active? "Sí":"No"}}
                                td 
                                    a(:href="'http://localhost:3000/rooms/'+room._id") Ver
                div(v-else v-for="room in rooms" style="").card.m-2.shadow.me-card-hover.me-a-no-style.me-container-items-child
                     a(:href="'http://localhost:3000/rooms/'+room._id").text-decoration-none.text-dark
                        .card-header
                            h5.card-title.fw-bold {{room.name}}
                        .card-body
                            p.card-text {{room.description}}
                            .col-12.mt-3
                                .form-check
                                    input(type="checkbox" :checked="room.active" disabled).form-check-input
                                    label.form-check-label.fw-bold Activo
            div(v-if="rooms.length==0").text-center.m-5
                img(src=server+"/images/ic_triste.png", alt="").img-sad
                h1 No hay información

            input(type="hidden" data=rooms)#room-data
            
        +footer()
        +scripts()
        script(src=server+"/js/components/room-component.js")
        
