include ./shared/constants
include ./shared/header
include ./shared/nav-bar
include ./shared/scripts
include ./shared/modal
include ./shared/footer

-let filters=[{name:"Modo tarjeta"},{name:"Modo tabla"}]

doctype html
html
    head
        +header("Usuarios")
    body
        +nav-bar(0)
        div.me-margin-main#user-component
            div.card.me-container-filter.shadow
                .card-header
                    h5.card-title.fw-bold.m-0 Buscar miembros por
                div(v-if="useFilter").card-body.row
                    .col-6
                        label.form-label.fw-bold Nombre
                        input(type="text" placeholder="Ej. Edgar" v-model="firstName" @keyup="filter").form-control
                    .col-6
                        label.form-label.fw-bold Apellido
                        input(type="text" placeholder="Ej. Pozas" v-model="lastName" @keyup="filter").form-control
                    .col-12
                        label.form-label.fw-bold Correo
                        input(type="text" placeholder="Ej. ejemplo@correo.com" v-model="email" @keyup="filter").form-control
                    .col-12.mt-3
                        .row
                            .col-6
                                .form-check
                                    input(type="checkbox" v-model="active" @change="filter" ).form-check-input#inputActive
                                    label(for="inputActive").form-check-label.fw-bold Activo
                            .col-6
                                .form-check
                                    input(type="checkbox" v-model="verified" @change="filter" ).form-check-input#inputVerified
                                    label(for="inputVerified").form-check-label.fw-bold Verificado
                    .col-12.mt-3
                        label.form-label.fw-bold Cantidad de registros 
                        p.form-label {{users.length}}
                .card-footer
                    .row
                        .col-9
                            input(type="submit" @click="removeFilters" :value="useFilter?'Quitar filtros':'Utilizar filtros'").btn.btn-outline-secondary.me-3
                            button(@click="clearFilters" v-if="useFilter").btn.btn-outline-primary.me-3 Limpiar filtros
                            button(@click="makeReport").btn.btn-outline-success Generar reporte
                            label(v-if="waitingResponse").form-check-label.fw-bold.ms-3 Generando reporte.....
                        .col-3.text-end
                            input(type="submit" @click="tableMode=!tableMode" :value="tableMode?'Modo tarjeta':'Modo tabla'").btn.btn-outline-primary.me-3
            div.mt-3.d-flex.me-container-items.justify-content-center
                div(v-if="tableMode").card.m-2.shadow.me-card-hover.w-100.p-3
                    table.table 
                        thead 
                            tr 
                                td.fw-bold #
                                td.fw-bold Nombre 
                                td.fw-bold Apellido 
                                td.fw-bold Correo 
                                td.fw-bold Activo
                                td.fw-bold Verificado
                                td.fw-bold Fecha de registro
                                td.fw-bold Consultar
                        tbody
                            tr(v-for="user,i in users")
                                td {{i+1}}
                                td {{user.firstName}}
                                td {{user.lastName}}
                                td {{user.email}}
                                td {{user.active? "Sí":"No"}}
                                td {{user.verified? "Sí":"No"}}
                                td {{dateToString(new Date(user.createdAt))}}
                                td 
                                    a(:href="'https://inventario-objetos.herokuapp.com/users/'+user._id") Ver
                div(v-else v-for="user in users").card.m-2.shadow.me-card-hover.me-a-no-style.me-container-items-child
                    a(:href="'https://inventario-objetos.herokuapp.com/users/'+user._id").text-decoration-none.text-dark
                        .card-header
                            h5.card-title.fw-bold {{user.firstName}} {{user.lastName}}
                        .card-body
                            label.form-label.fw-bold.mt-3 Correo
                            p.card-sub-title {{user.email}}
                            .col-12.mt-3
                                .row
                                    .col-6
                                        .form-check
                                            input(type="checkbox" :checked="user.active" disabled).form-check-input
                                            label.form-check-label.fw-bold Activo
                                    .col-6
                                        .form-check
                                            input(type="checkbox" :checked="user.verified" disabled).form-check-input
                                            label.form-check-label.fw-bold Verificado
                            label.form-label.fw-bold.mt-3 Fecha de registro
                            p.card-sub-title {{dateToString(new Date(user.createdAt))}}
                
            div(v-if="users.length==0").text-center.m-5
                img(src=server+"/images/ic_triste.png", alt="").img-sad
                h1 No hay información

            input(type="hidden" data=users)#user-data
        +footer()
        +scripts()
        script(src=server+"/js/utils.js")
        script(src=server+"/js/components/user-component.js")
        
