include ./shared/constants
include ./shared/header
include ./shared/nav-bar
include ./shared/scripts
include ./shared/modal
include ./shared/footer

doctype html
html
    head
        +header("Verificar cuenta")
    body
        +nav-bar(0)
        div.me-margin-main
            div.card.me-container-filter.shadow
                .card-header
                    h5.card-title.fw-bold.m-0 Verificación de cuenta
                .card-body.row
                    h1 Excelente 
                    p.form-label Acabas de verificar tu cuenta éxitosamente, ahora puedes continuar con tu sesión en la aplicación móvil.
                .card-footer

            input(type="hidden" data=users)#user-data
        +footer()
        +scripts()
        script(src=server+"/js/utils.js")
        
